/build/**/*.o
/build/**/*.so
/build/**/*.py
/build/**/*.typed
/build/ops.txt
/build/__native_ypricemagic.c
/build/temp.*/
/build/bdist.*/
/build/lib.*/
/build/tests.json
/build/pricing_sources_map.md
/build/deployments/
/dist
/env
.hypothesis
ypricemagic/old
/ypricemagic.egg-info
/.eggs
/cache
__pycache__/
/.vscode
.mypy_cache
.coverage
.pytest_cache
*.log*
*.so
.worktrees/
.env
