[build-system]
requires = [
  "setuptools",
  "wheel",
  "mypy[mypyc]==1.18.1",
  "pony-stubs",
  "types-python-dateutil",
  "types-cachetools",
  "types-requests",
  "faster-eth-abi>=5.2.1,<6",
  "eth-typing==4.4.0",
]

[tool.black]
line-length = 100
