aiosqlite==0.22.0
asyncpg>=0.31,<0.32
bobs_lazy_logging==0.0.4
cchecksum>=0.0.3,<1
checksum_dict>=2.1.9,<3
dank_mids==4.20.183
eth-brownie==1.22.0.dev0
eth_retry>=0.2.1
evmspec>=0.3.4
ez-a-sync>=0.33.4,<1
faster-eth-abi>=5.2.12,<6
faster-eth-utils
inflection>=0.1,<0.6
joblib>=1.0.1
multicall>=0.8.2
pony
pony-stubs==0.5.2
python-dateutil
