aiosqlite
bobs_lazy_logging==0.0.4
cchecksum>=0.0.3
checksum_dict>=2.1.9,<3
dank_mids>=4.20.161
eth-brownie==1.22.0.dev0
eth-event>=1.3.0
eth_retry>=0.2.1
evmspec>=0.3.4
ez-a-sync>=0.32.27,<1
faster-eth-abi>=5.2.1,<6
faster-eth-utils
inflection>=0.1,<0.6
joblib>=1.0.1
multicall>=0.8.2
pony
pony-stubs
python-dateutil
